<form #form="ngForm" (submit)="submit(form)" novalidate autocomplete="off">
  <md-card>
    <md-card-title>Sign in</md-card-title>
    <md-card-content>
      <md-input-container>
        <input mdInput ngModel type="email" name="email" placeholder="Email" required/>
      </md-input-container>
      <md-input-container>
        <input mdInput ngModel type="password" name="password" placeholder="Password" required/>
      </md-input-container>
    </md-card-content>
    <md-card-actions class="flex-block">
      <!--<button md-button color="primary">Sign up</button>-->
      <span class="flex"></span>
      <button md-raised-button color="primary" type="submit">Sign in</button>
    </md-card-actions>
  </md-card>
</form>
