.inner-page {
  display: flex;
  height: 100%;
  max-height: 100%;
  justify-content: center;
  align-items: flex-start;
  box-sizing: border-box;
  overflow: auto;
  padding: 80px 0;

  .inner-container {
    position: relative;
    width: 620px;
    background: white;
  }
}

.menu-icon {
  visibility: hidden;
  margin-left: 8px;
}

.mat-list-item:hover {
  .menu-icon {
    visibility: visible;
  }
}
