<div class="inner-page">
  <div class="inner-container white-frame-0">
    <md-list *ngFor="let group of groupedData">
      <h3 class="flex-block" md-subheader>
        <span>{{group.date}}</span>
        <span class="flex"></span>
        <span>Total per day: {{group.amount | number:'1.2-2'}}</span>
      </h3>
      <md-list-item *ngFor="let record of group.records">
        <record-line [record]="record"></record-line>
      </md-list-item>
      <md-divider></md-divider>
    </md-list>
    <md-list>
      <md-list-item>
        <div class="flex-block" md-line>
          <span class="flex"></span>
          <span>Total: {{total | number:'1.2-2'}}</span>
        </div>
      </md-list-item>
    </md-list>
  </div>
</div>
