<div class="inner-page">
  <div class="inner-container white-frame-0">
    <md-list>
      <ng-container *ngFor="let coin of data">
        <h3 md-subheader>{{coin.date}}</h3>
        <md-list-item>
          <div md-line>
            <span class="line-date">{{coin.date}}</span>
            <span class="line-description">{{coin.description}}</span>
            <span class="line-amount">-{{coin.amount}}</span>
          </div>
        </md-list-item>
      </ng-container>
    </md-list>
  </div>
</div>
